## Practice variable

In [4]:
first_name = "ella"
last_name = "wallace"

In [6]:
print(first_name)
print(last_name)

ella
wallace

## strings

In [7]:
name = "Ella Wallace"
name = 'Ella Wallace'

movie_line = "What film is this? 'Show me the money!' "

start_now = 'Let\s get started with Python.'

In [12]:
print(movie_line)

What film is this? 'Show me the money!'

## concatenation string

In [15]:
#combining strings

name = "Ella Wallace"

first_name = "Ella"
last_name = "Wallace"

print("Hi " + first_name)

print("Dear Miss. " + last_name)


print(first_name + last_name)

#no spaces ^


print(first_name + " " + last_name)

#with space^

Hi Ella
Dear Miss. Wallace
EllaWallace
Ella Wallace

## string title method

In [18]:
name = "ella wallace"

first_name = "ella"
last_name = "wallace"

print(first_name.title())

#string title method: how to capitalize first letter if not cpaitalized,  ".title()"

print(name.title())

print(last_name.title())

Ella
Ella Wallace
Wallace

## Find Method

In [22]:
my_book = "My favorite book is 'Harry Potter'.".find('Harry')

print(my_book)

#Finds the index starting with 0..1,2,3...etc 


subject = "$$$ Get Rich Now $$$".find('$$$')
print(subject)

21
0

## Lower Method

In [1]:
name = "ELLA WALLACE".lower()
print(name)

#How to transfer all letters to lower case

ella wallace

## Replace Method

In [2]:
#How to find a word, and replace it


my_book = "My favorite book is 'Elom Musk'.".replace('Elom', 'Elon')
print(my_book)

My favorite book is 'Elon Musk'.

## Strip Method

In [33]:
address = "    102 Main Street      "
print(address.rstrip())

#if someone put spaces before or after it gets rid of it. if you want to get rid of extra space of left side of text (.lstrip()), if on right side of text (.rstrip())

    102 Main Street

## Adding White Space

In [11]:
address = "101 Main Street \tUSA"
print(address)

address = "102 Main Street \nUSA"
print(address)

#(\t) is a tab, (\n) is a new line

101 Main Street 	USA
102 Main Street
USA

## Numbers

In [14]:
2 + 2
5 - 3
6 / 2
3 * 3
5 ** 5

SyntaxError: invalid syntax (854721699.py, line 2)

## Floats

In [15]:
2.0 + 3.0

5.0

In [16]:
3.0 / 2.0

1.5

## Numbers To Strings

In [32]:
name = 'ella'.title()
date_today = 16

welcome_message = "Hi " + name + " welcome back, today's date is the " + str(date_today) + " of November."

print(welcome_message)



# How to take non-string values and convert them into strings

Hi Ella welcome back, today's date is the 16 of November.

'How to take non-string values and convert them into strings\n'

## Comments

In [34]:
# Is how you can leave comments for yourself or other coders without the program running it

## Lists

In [41]:
# items in list are called elements

months = ['january', 'february', 'march', 'april',]
print(months)

#starts with number 0

print(months[0])

print(months[0].title())
print(months[1].title())


message = "I was born in " + months[0].title() + "."
print(message)

['january', 'february', 'march', 'april']
january
January
February
I was born in January.

## Birthday Lists / Strings

In [1]:
## 11/17/21


## Creating a list of months
birthday_months = ['narch', 'november', 'december']
print(birthday_months)

birthday_months[0] = 'march'
print(birthday_months)


#how to add an element to your list ".append"

birthday_months.append('june')
print(birthday_months)

#Creating an empty list
birthday_months = []
print(birthday_months)

#
birthday_months.append('august')
print(birthday_months)


#how to specify where you want to input the element (insert)

birthday_months.insert(0, 'may')
print(birthday_months)

#how to remove an element from the list 

del birthday_months[1]
print(birthday_months)

['narch', 'november', 'december']
['march', 'november', 'december']
['march', 'november', 'december', 'june']
[]
['august']
['may', 'august']
['may']

## Pop Method

In [12]:
#11/17/21
#Author : Ella Wallace
#Using the pop method
#Removes the last item in a list and lets you work with the item


subscribers = ['ella@example.com', 'mary@example.com', 'john@example.com']
print(subscribers)

popped_subscriber = subscribers.pop()

print(subscribers)

print(popped_subscriber)

subscribers = ['ella@example.com', 'mary@example.com', 'john@example.com']
first_subscriber = subscribers.pop(0)
print("Your first subscriber was " + first_subscriber + ".")

subscribers = ['ella@example.com', 'mary@example.com', 'john@example.com']
print(subscribers)

#removing a an item

subscribers.remove('john@example.com')
print(subscribers)

subscribers = ['ella@example.com', 'mary@example.com', 'john@example.com']
subscribed_by_mistake = 'ella@example.com'
subscribers.remove(subscribed_by_mistake)

print(subscribers)

#new line (\n)
print("\nThis person " + subscribed_by_mistake + " did not mean to sign up.")

['ella@example.com', 'mary@example.com', 'john@example.com']
['ella@example.com', 'mary@example.com']
john@example.com
Your first subscriber was ella@example.com.
['ella@example.com', 'mary@example.com', 'john@example.com']
['ella@example.com', 'mary@example.com']
['mary@example.com', 'john@example.com']

This person ella@example.com did not mean to sign up.

## Organizing a List

In [16]:
# 11 / 17 / 21
# Author : Ella Wallace

#Creating a list of months
birthday_months = ['may', 'november', 'june']

birthday_months.sort()
print(birthday_months)

#using the reverse sort method
birthday_months.sort(reverse=True)
print(birthday_months)

birthday_months = ['may', 'november', 'june']
print(sorted(birthday_months))

print(birthday_months)

birthday_days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']
birthday_days.reverse()
print(birthday_days)

['june', 'may', 'november']
['november', 'may', 'june']
['june', 'may', 'november']
['may', 'november', 'june']
['friday', 'thursday', 'wednesday', 'tuesday', 'monday']

## More on Lists (how to find the length of a list)

In [21]:
# 11 / 17 / 21
# Ella Wallace
# How to find the lenth of a list (len())

#list of days of the week
birthday_days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

print(len(birthday_days))

7

## Looping through a Loop

In [29]:
# 11 / 17 / 21
# Ella Wallace
#Looping through a list

months = [ 'january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']
print(months[0])

# Using a for loop to print a list
for month in months: 
    print(month.title() + "\n")
    
    print("The next month is: ")
    
    print("Goodbye!")

january
January

The next month is:
Goodbye!
February

The next month is:
Goodbye!
March

The next month is:
Goodbye!
April

The next month is:
Goodbye!
May

The next month is:
Goodbye!
June

The next month is:
Goodbye!
July

The next month is:
Goodbye!
August

The next month is:
Goodbye!
September

The next month is:
Goodbye!
October

The next month is:
Goodbye!
November

The next month is:
Goodbye!
December

The next month is:
Goodbye!

## Numerical Lists

In [32]:
# 11 / 17 / 21
# Ella Wallace
#The Range function

#Using the range function
for value in range(1,6):
    print(value)

1
2
3
4
5

## Creating a List of Numbers

In [ ]:
# 11 / 17 / 21
# Ella Wallace
#Creating a list of numbers

#Convert numbers in to a list
numbers = list(range(1,6))