## Practice variable

In [4]:
first_name = "ella"
last_name = "wallace"

In [6]:
print(first_name)
print(last_name)

ella
wallace

## strings

In [7]:
name = "Ella Wallace"
name = 'Ella Wallace'

movie_line = "What film is this? 'Show me the money!' "

start_now = 'Let\s get started with Python.'

In [12]:
print(movie_line)

What film is this? 'Show me the money!'

## concatenation string

In [15]:
#combining strings

name = "Ella Wallace"

first_name = "Ella"
last_name = "Wallace"

print("Hi " + first_name)

print("Dear Miss. " + last_name)


print(first_name + last_name)

#no spaces ^


print(first_name + " " + last_name)

#with space^

Hi Ella
Dear Miss. Wallace
EllaWallace
Ella Wallace

## string title method

In [18]:
name = "ella wallace"

first_name = "ella"
last_name = "wallace"

print(first_name.title())

#string title method: how to capitalize first letter if not cpaitalized,  ".title()"

print(name.title())

print(last_name.title())

Ella
Ella Wallace
Wallace

## Find Method

In [22]:
my_book = "My favorite book is 'Harry Potter'.".find('Harry')

print(my_book)

#Finds the index starting with 0..1,2,3...etc 


subject = "$$$ Get Rich Now $$$".find('$$$')
print(subject)

21
0

## Lower Method

In [1]:
name = "ELLA WALLACE".lower()
print(name)

#How to transfer all letters to lower case

ella wallace

## Replace Method

In [2]:
#How to find a word, and replace it


my_book = "My favorite book is 'Elom Musk'.".replace('Elom', 'Elon')
print(my_book)

My favorite book is 'Elon Musk'.

## Strip Method

In [33]:
address = "    102 Main Street      "
print(address.rstrip())

#if someone put spaces before or after it gets rid of it. if you want to get rid of extra space of left side of text (.lstrip()), if on right side of text (.rstrip())

    102 Main Street

## Adding White Space

In [11]:
address = "101 Main Street \tUSA"
print(address)

address = "102 Main Street \nUSA"
print(address)

#(\t) is a tab, (\n) is a new line

101 Main Street 	USA
102 Main Street
USA

## Numbers

In [14]:
2 + 2
5 - 3
6 / 2
3 * 3
5 ** 5

SyntaxError: invalid syntax (854721699.py, line 2)

## Floats

In [15]:
2.0 + 3.0

5.0

In [16]:
3.0 / 2.0

1.5

## Numbers To Strings

In [32]:
name = 'ella'.title()
date_today = 16

welcome_message = "Hi " + name + " welcome back, today's date is the " + str(date_today) + " of November."

print(welcome_message)



# How to take non-string values and convert them into strings

Hi Ella welcome back, today's date is the 16 of November.

'How to take non-string values and convert them into strings\n'

## Comments

In [34]:
# Is how you can leave comments for yourself or other coders without the program running it

## Lists

In [41]:
# items in list are called elements

months = ['january', 'february', 'march', 'april',]
print(months)

#starts with number 0

print(months[0])

print(months[0].title())
print(months[1].title())


message = "I was born in " + months[0].title() + "."
print(message)

['january', 'february', 'march', 'april']
january
January
February
I was born in January.

## Birthday Lists

In [49]:
birthday_months = ['narch', 'november', 'december']
print(birthday_months)

birthday_months[0] = 'march'
print(birthday_months)


#how to add an element to your list ".append"

birthday_months.append('june')
print(birthday_months)

birthday_months = []
print(birthday_months)

birthday_months.append('august')
print(birthday_months)


#how to specify where you want to input the element (insert)

birthday_months.insert(0, 'may')
print(birthday_months)

#how to remove an element from the list 

del birthday_months[1]
print(birthday_months)

['narch', 'november', 'december']
['march', 'november', 'december']
['march', 'november', 'december', 'june']
[]
['august']
['may', 'august']
['may']